:root {
    --primary-color: red;
    --secondary-color: white;
    --tertiary-color: #8b3d3d;
    --quaternary-color: green;
}
body {
    font-family: monospace, Optima;
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
    padding-top: 80px;
}

.navbar {
    color: var(--secondary-color);
    transition: all 0.5s;
}

.navbar a {
    color: var(--secondary-color);
}

.navbar-brand {
    padding-left: 20px;
}

.nav-link {
    margin-right: 1em;
}

.nav-link:hover {
    color: var(--tertiary-color);
}

section {
    padding: 3em 1em;
}

home {
    /*background: url('{{ static "images/home_image.jpg" }}') no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

projects {
    background-color: #4fc2ad;
}

.project-card {
    margin: 1em;
    background-color: var(--secondary-color);
}

.social-links {
    padding-right: 20pt;
}

.social-links a {
    text-align: center;
    margin: 0 10px;
    color: var(--secondary-color);
}

.social-links a:hover {
    color: var(--tertiary-color);
}

/* Add to the existing styles.css */

.project-card {
    transition: transform .3s ease-out;
}

.project-card:hover {
    transform: scale(0.90);
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
}

.badge {
    margin-right: .2rem;
}
